body{
    margin: 0;
    font-family: 'Cairo', sans-serif !important;
}
div:nth-of-type(4){
    background-color: brown;
}
div:first-of-type{
    background-color: brown;
    line-height: 30px;
    transition: all .5s ease-in-out;
}
div:last-of-type{
    background-color: brown;
}
div:first-of-type p{
    display: none;
    /* transform: rotatex(90deg); */
    transition: all .5s ease-in-out;
}

div:first-of-type:hover p {
    /* transform: rotatex(0deg); */
    display: block;
}
div{
    display: inline-block;
    width: 30%;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow:10px 10px 10px #000 ;
}

@media(max-width:770px) AND (min-width:500px){
    div{
        width: 45%;
    }
}


@media(max-width:500px){
    div{
        width: 100%;
        color: rgb(161, 52, 52);
    }
}


.my_icon
{
    font-size: 300px;
    color: red;
}